.dot-icon-wrapper {
  aspect-ratio: 1/1;

  margin: 0 0.2em;
  padding: 0.3em;
  border-radius: 50%;

  background-color: var(--clr-surface);
  border: var(--border-size-1) solid var(--clr-on-surface);
  color: var(--clr-on-surface);

  font-size: var(--font-size-24);

  transition: all var(--short-transition-time);
}

.dot-icon-wrapper:hover {
  background-color: var(--clr-primary);
  color: var(--clr-on-primary);
  border-color: transparent;
}
