.navbar {
  --left-padding: max(2vh, 2vw);
  --vertical-space: max(2vh, 2vw);
}

.links-container {
  display: grid;
  row-gap: 0.7em;

  position: fixed;
  left: var(--left-padding);
  top: unset;
  bottom: calc(var(--vertical-space) + 1.5 * var(--large-icon-size));
}

.link-wrapper {
  position: relative;
}

.navbar-handler-wrapper {
  position: fixed;
  bottom: var(--vertical-space);
  left: var(--left-padding);
}

.navbar-handler {
  padding: 0.2em;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: var(--large-icon-size);

  user-select: none;

  width: var(--large-icon-size);
  height: var(--large-icon-size);
  position: absolute;
  transform: translate(10%, -100%);
}

.navbar-closer {
  background-color: var(--clr-error);
  color: var(--clr-on-error);
}

.navbar-opener {
  background-color: var(--clr-surface);
  color: var(--clr-on-surface);
}

@media only screen and (min-width: 48em) {
  .links-container {
    bottom: unset;
    top: calc(var(--vertical-space) + 1.5 * var(--large-icon-size));
    direction: ltr;
  }
  .navbar-handler-wrapper {
    bottom: unset;
    top: var(--vertical-space);
  }
  .navbar-handler {
    transform: translateX(10%);
  }
}
