.nav-container {
  position: relative;
}

.nav-icon-container {
  background-color: var(--clr-surface);
  padding: 0.35em;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: var(--icon-size);
  transition: all var(--short-transition-time);
}

.nav-link {
  font-size: var(--font-size-16);
  text-transform: uppercase;
  transition: all var(--short-transition-time);

  position: absolute;
  top: 50%;
  left: 20%;

  padding: 1.3em;
  padding-left: 3.5em;
  border-radius: 2em;
  z-index: -1;

  opacity: 1;
  transform: translate(-1%, -50%);

  background-color: var(--clr-surface);
  color: var(--clr-on-surface);
}

.nav-active {
  background-color: var(--clr-primary);
  color: var(--clr-on-primary);
  border-radius: 50%;
}

.nav-active .nav-link {
  background-color: var(--clr-primary);
  color: var(--clr-on-primary);
}

@media only screen and (min-width: 48em) {
  .nav-link {
    opacity: 0;
    transform: translate(-50%, -50%);
  }

  .nav-icon-wrapper:hover .nav-link,
  .nav-icon-wrapper:hover .nav-icon-container {
    background-color: var(--clr-primary);
    color: var(--clr-on-primary);
  }

  .nav-icon-wrapper:hover .nav-link {
    opacity: 1;
    transform: translate(-1%, -50%);
  }
}
