.nav-icon-wrapper {
  width: 100%;
}

.nav-icon-wrapper:hover .nav-icon {
  background-color: var(--clr-on-bg);
  color: var(--clr-bg);
}

.nav-icon-wrapper:hover .nav-link {
  color: var(--clr-bg);
}

.nav-icon {
  transition: all var(--short-transition-time);
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* margin: 0.2em 0; */
  padding: 1.2em 1em;
}

.nav-icon-icon {
  font-size: var(--icon-size);
}

.nav-link {
  font-size: var(--font-size-20);
  text-transform: lowercase;
  font-weight: normal;

  margin-top: 0.5em;

  transition: all var(--short-transition-time);
  color: var(--clr-on-bg);
}
