.navbar {
  position: fixed;

  left: 5vw;
  top: 50%;
  transform: translate(0, -50%);

  border: var(--border-size-0) solid var(--clr-on-surface);
  box-shadow: 0 0 5px var(--clr-on-surface);
  background-color: var(--clr-surface);
  border-radius: var(--border-radius-16);
  overflow: hidden;
}

.links-container {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.link-wrapper {
  width: 100%;
}
