.job-display-card-wrapper {
  position: relative;

  padding: 1em;
  color: var(--clr-on-surface);
  background-color: var(--clr-surface);
  border-radius: var(--border-radius-16);
}

.job-duration {
  width: max-content;
  border-radius: 2em;
  padding: 0.2em 0;
  font-size: var(--font-size-12);
}

.job-heading-section {
  padding: 0.5em 0 0;
}

.job-title {
  font-weight: bolder;
  font-size: var(--font-size-20);
  padding-right: 1ch;
}

.job-place {
  padding: 0.5em 0 0;
}

.job-description {
  padding-top: 1em;
}

.job-icon {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}
