.cover-image {
  width: 100%;
  transition: all var(--short-transition-time);
}

.cover-image-wrapper {
  overflow: hidden;
  border-bottom: var(--border-size-4) solid var(--clr-primary);
}

.display-text-section {
  flex: 1;
  padding: 1em;
}

.work-heading {
  transition: all var(--short-transition-time);
  font-size: var(--font-size-20);
}

.work-description {
  font-size: var(--font-size-16);
  padding-top: 1em;
  opacity: 0.8;
}

.work-display-card-wrapper {
  background-color: var(--clr-surface);
  height: 100%;
  border-radius: var(--border-radius-16);
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.work-display-card-wrapper:hover .cover-image {
  transform: scale(1.1);
}

.work-display-card-wrapper:hover .work-heading {
  color: var(--clr-primary);
}
