.watermark-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;

  margin: 2em;
}

.contact-row {
  display: flex;
  justify-content: right;
}

.contact-icon {
  margin: 0 0.2em;
}

.name {
  color: var(--clr-on-bg);
  font-size: var(--font-size-20);
}

.sign {
  font-family: var(--head-font);
  padding-right: 0.4em;
}

.name-row {
  padding: 0.1em;
  font-size: var(--font-size-16);
  display: flex;
}
