.about-page {
  padding-bottom: 2em;
}

.about-card {
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;

  background-color: var(--clr-surface);
  padding: 1em;
  border-radius: var(--border-radius-32);

  color: var(--clr-on-surface);
}

.photo-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1em 0;
}

h3.name {
  font-size: var(--font-size-28);
  padding: 0.5em 0;
}

p.tagline {
  opacity: 0.8;
}

.portrait {
  width: 80%;
}

.about-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em 0;
}

.about-description-text {
  flex: 2;
  display: grid;
  place-items: center;
  text-align: center;
  line-height: 1.4em;
}

.resume-link-container {
  margin: 1em 0;

  align-self: center;
  width: max-content;
  text-align: center;
  padding: 0.5em 2em;
  border-radius: 2em;

  border: var(--border-size-1) solid var(--clr-on-surface);

  transition: all var(--short-transition-time);
}

.resume-link-container:hover {
  background-color: var(--clr-primary);
  color: var(--clr-on-primary);
  border-color: transparent;
}

.contact-icons-container {
  display: flex;
  justify-content: center;
  padding: 0.6em 0;
}

.contact-form-link {
  text-decoration: underline;
  transition: all var(--short-transition-time);
}

.contact-form-link:hover {
  opacity: 0.8;
}

.about-page-section {
  width: 80%;
  margin: auto;
  margin-top: 2em;
}

.about-page-heading {
  font-size: var(--font-size-32);
  color: var(--clr-on-bg);
  text-transform: uppercase;
}

.job-display-grid {
  display: grid;
  grid-template-columns: 40% 40%;
  column-gap: 5%;
  place-content: center;
  margin: 2em 0 0;
}
