.contact-page {
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
  max-width: 95vw;
  overflow-y: hidden;
}

/* fix page animations */
.contact-page.page-enter {
  transform: translate(-50%, 30vw);
}

.contact-page.page-leave-to {
  transform: translate(-50%, -30vw);
}

.contact-row {
  display: flex;
  justify-content: center;
}

.contact-icon {
  font-size: var(--large-icon-size);
  padding: 0 0.15em;
}

.content-section {
  width: 75%;
  margin: auto;
  font-size: var(--font-size-20);
}

.email-error-input {
  box-shadow: 0 0 0.4em var(--clr-error);
}

.email-error-message {
  transition: all var(--short-transition-time);
  opacity: 1;
  width: max-content;
  border-radius: var(--border-radius-8);
  padding: 0.3em;
  background-color: var(--clr-error);
  color: var(--clr-on-error);

  position: absolute;
  top: 0;
  right: 0;
}

.email-error-hidden {
  opacity: 0;
}

.email-input {
  position: relative;
}

.form-container {
  border-radius: var(--border-radius-32);

  display: grid;
  grid-template-columns: 100%;
  row-gap: 1em;
  padding: 1.2em 0;
  position: relative;
}

.form-description,
.link-description {
  text-align: center;
  margin: 1em 0;
}

.form-input {
  background-color: var(--clr-surface);
  color: var(--clr-on-surface);
  border: none;
  font-size: var(--font-size-16);
  border-radius: 2em;
  padding: 0.5em 1em;

  font-family: var(--para-font-primary);

  transition: all var(--short-transition-time);
}

.form-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* used for a different structure of form */
/* .form-input-container-2 {
  grid-column: span 2;
} */

.form-input-label {
  cursor: pointer;
  margin-bottom: 0.4em;
}

.links-section {
  margin-bottom: 2em;
}

.submit-button {
  cursor: pointer;
  width: 30%;
  margin: auto;
  transition: all var(--short-transition-time);
}

.submit-button:hover {
  background-color: var(--clr-primary);
  color: var(--clr-on-primary);
}

textarea.form-input {
  resize: none;
  padding: 1em;
  border-radius: var(--border-radius-16);
}

@media only screen and (min-width: 48em) {
  textarea.form-input {
    border-radius: var(--border-radius-32);
  }
}
