.heading-section {
  width: 100%;
  margin: auto;

  position: relative;
  text-transform: uppercase;
  user-select: none;
}

.back-heading {
  color: var(--clr-surface);
  margin: 0.8em 0;
  text-align: center;
  font-size: var(--font-size-64);
  letter-spacing: 0.2ch;

  max-width: 99vw;
  overflow: hidden;
}

.main-heading {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--clr-on-bg);
  white-space: nowrap;
}

.heading-highlight {
  margin: 0 0.5ch;
  color: var(--clr-primary);
}

@media only screen and (min-width: 48em) {
  .back-heading {
    font-size: var(--font-size-96);
    margin: 0.5em 0;
  }
}
