.greeting {
  color: var(--clr-on-bg);
  font-size: var(--font-size-40);
  white-space: nowrap;
  user-select: none;
}

.index-page {
  --chosen-metric: min(1vw, 1vh);
  --moon-length: 50;
  --skiing-icon-size: 6;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.moon {
  width: calc(var(--chosen-metric) * var(--moon-length));
  height: calc(var(--chosen-metric) * var(--moon-length));

  position: absolute;
  transform: translate(-42%, -67%);

  /* method 1 */
  /* border-left: calc(var(--chosen-metric) * 5) solid var(--clr-on-bg);
  transform: translate(-50%, -50%) rotate(-40deg); */

  /* method 2 */
  box-shadow: calc(var(--chosen-metric) * -4) calc(var(--chosen-metric) * 4) 1px
    calc(var(--chosen-metric) * 1) var(--clr-on-bg);

  border-radius: 50%;
}

.skiing-man {
  position: absolute;
  --multiplier: 0.2; /* near to (root(2) - 1) / (2 * root(2)) = 0.146 /* 2 as moon length is diameter*/
  bottom: calc(var(--chosen-metric) * var(--multiplier) * var(--moon-length));
  right: calc(var(--chosen-metric) * var(--multiplier) * var(--moon-length));
  font-size: calc(var(--chosen-metric) * var(--skiing-icon-size));
  transform: translate(50%, 50%) rotate(-60deg);
}

.spot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  box-shadow: 0 0 10px var(--clr-bg);
  position: absolute;
  background-color: var(--clr-bg);
  opacity: 0.3;
}

.spot-1 {
  height: calc(var(--chosen-metric) * 2);
  width: calc(var(--chosen-metric) * 2);
  bottom: 14%;
  left: 6%;
}

.spot-2 {
  height: calc(var(--chosen-metric) * 1.5);
  width: calc(var(--chosen-metric) * 1.5);
  bottom: 8%;
  left: 11%;
}

.spot-3 {
  height: calc(var(--chosen-metric) * 1);
  width: calc(var(--chosen-metric) * 1);
  bottom: 9%;
  left: 3%;
}

.spot-4 {
  height: calc(var(--chosen-metric) * 5);
  width: calc(var(--chosen-metric) * 5);
  bottom: 14%;
  left: -10%;
}
/*
.spot-5 {
  height: calc(var(--chosen-metric) * 3);
  width: calc(var(--chosen-metric) * 3);
  bottom: -23%;
  left: 30%;
} */

.text-container {
  position: absolute;
  left: 10%;
  top: 40%;
}

@media only screen and (min-width: 48em) {
  .index-page {
    --moon-length: 40;
  }
}
