/* contains common css for work display sites - projects and blog */
.content-section {
  width: 72%;
  margin: auto;
  display: grid;
  padding: 0 2em 5em;
  column-gap: 2em;
  row-gap: 2em;
}

/*
  have to ensure that the project has a paragraph or any child div
  that is bigger than the screen width of device
*/
.article-wrapper {
  max-width: 100vw;
  width: 70%;
  margin: auto;
}

.article-title {
  font-size: var(--font-size-48);
  padding: 2em 0 0;
  text-align: center;
}

.article-cover-image {
  width: 40%;
  margin: 0 30% 2vh;
}

.article-description {
  padding: 2em;
  text-align: center;
  opacity: 0.8;
}

@media only screen and (min-width: 48em) {
  /* contains common css for work display sites - projects and blog */
  .content-section {
    grid-template-columns: 1fr 1fr;
    padding: 0 2em 3.5em;
  }
}

@media only screen and (min-width: 64em) {
  /* contains common css for work display sites - projects and blog */
  .content-section {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 2em 2em;
  }
}
